{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Edit Todo</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group row mt-3">
            <div class="col-sm-6">
                <a href="{{ path('home') }}" class="btn btn-secondary">Back to homepage</a>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-primary" type="submit">Update Todo</button>
            </div>
        </div>        
    {{ form_end(form) }}    
{% endblock %}