body {
    padding-top: 60px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-control:first-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin .form-control~.form-control {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
